{% extends 'layout.twig' %}
{% block content %}
    <div>
        <h2>Content page</h2>
            <p>Danish chocolate bar tootsie roll tootsie roll icing pastry. Pudding shortbread liquorice bonbon tart muffin cupcake. Sweet roll shortbread cheesecake fruitcake candy canes chupa chups. Toffee fruitcake bonbon dessert pie gingerbread bear claw.</p>
    </div>
{% endblock %}